.container {
  padding: 0px 80px;

  &__other{
    color: red;
  }

}

.about{
  color: white;
  background-color: black;
  border-radius: 5px;  
}

.button{
  color: white;
  background-color: black;
  border-radius: 5px;

  &:hover{
    cursor: pointer;
  }
}




